<!-- MENU -->
<nav class="navigation">
  <div class="wrapper">
    <a class="logo" href="#home"> <img src="logo.png" alt="imagem do logotipo"></a>

    <div class="menu">
      <ul>
        <li><a href="#recursos">RECURSOS</a></li>
        <li><a href="#planos">PLANOS</a></li>
        <li><a href="#contatenos">CONTATE-NOS</a></li>
      </ul>
    </div>

    <div>            
        <a class="button" href="">Cadastre-se</a>
        <a class="button" href="">LOGIN</a>
    </div>
  </div>
</nav>










/* .navigation .menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
} */

/* .navigation .menu ul li {
  margin-left: 20px;
}
  /* background-color: rgb(43, 0, 255); */


/* .navigation .menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
} */