/* Paleta de cor */
:root{
  /* bg-dark */
  --bs-dark-rgb: 33,37,41;
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Estilos gerais */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1{
  padding-top: 20px;
  font-size: 18px;
  margin-bottom: 10px;
}

h3{
  margin-bottom: 10px;
}

.logo img {
  width: 54px;
  padding-right: 0.5rem ;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  /* background-color: red; */
}

/* Estilos do menu de navegação */
.navigation {
  background-color: #333;
  color: #fff;
  /* background-color: rgb(43, 0, 255); */
  
}

.navigation .wrapper {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* height: 60px; */
  /* background-color: rgb(0, 255, 64); */

}

.navigation .logo img {
  width: 54px;
}


.cadastreSeLogin{
  padding: 10px;

}


.navigation .button {
  background-color: #fff;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  margin: 0.5em;
}



/* Estilos do conteúdo */
#home{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

#home .wrapper{
  display: flex;
  padding-top: 3rem;
  align-items: center;
  /* background-color: red; */
  
  
}
.col-a{
  padding-right: 20px;
  padding-left: 20px;
  /* background-color: red; */
  margin-right: 1rem;
}

.col-b {
  max-width: 100%;

}

.col-b img{
/* width: 40%; */
max-width: 100%;
max-height:100%;
/* height: auto; */
}

#home h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  
}

#home h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

#home h3 {
  font-size: 2rem;
  color: #888;
}

#recursos h3{
  font-size: 1rem;
  color: #888;
}

#recursos{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

#recursos .wrapper{
  display: flex; 
  padding-top: 3rem;
  align-items: center;
  /* background-color: red; */
}

#recursos li{
  padding-bottom: 10px;
  align-items: flex-start;
}

#recursos .wrapper .content{
  background-color: green;
  
}



/* Estilos das seções */
section {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-bottom: 10px;
  /* border-bottom: 1px; */
}


footer{
  background-color: #333;
  font-size: 14px;
 }


footer .logo img{
  margin: 1rem;
  display: flex;
  width: 100px;
  align-items: flex-start;
}


footer .registered_copy {
display: flex;
justify-content: flex-end;
align-items: center;
color: #fff;
padding: 5rem;
background-color:#333;
  
}