/* Paleta de cor */
:root{
  /* bg-dark */
  --bs-dark-rgb: 33,37,41;
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Estilos gerais */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1{
  padding-top: 20px;
  font-size: 18px;
  margin-bottom: 10px;
}



h3{
  margin-bottom: 10px;
}

/* BOOTSTRAP CUSTOMIZAÇÃO------------------------------------------ */

.btn-primary{
  font-size: 14px;
}

.btn-outline-primary{
  font-size: 14px;
  margin-left: 0.5rem;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
 
}

/* Estilos do menu de navegação */
.navigation {
  background-color: #333;
  color: #fff;
}

.navigation .wrapper {
  display: flex;
  justify-content: space-between;
  
}

.navigation .logo img {
  width: 5rem;
  margin: 0.5rem;
}


.navigation .button {
  background-color: #fff;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  margin: 0.5em;
}

/* HOME---------------------------------------------- */

/* Estilos do conteúdo */
#home{
  /* height: 500px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

#home .wrapper{
  display: flex;
  padding-top: 3rem;
  align-items: center;
    
}

.col-a{
 display: flex;
 flex-direction: column;
  padding-right: 1remx;
  padding-left: 1rem;
  margin-right: 1rem;
}

.col-b {
  display: flex;
  max-width: 100%;

}

.col-b img{
max-width: 100%;
max-height:100%;
}

#home h1 {
  font-size: 2em;
  margin-bottom: 10px;
  
}

#home h2 {
   font-size: 48px;
  margin-bottom: 1rem;
}

#home h3 {
  /* display: flex; */
  font-size: 2rem;
  color: #888;
}


/* RECURSOS---------------------------------------------- */

#recursos{

  
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;

}

#recursos h5 {
  padding-bottom: 2rem;
  font-weight: 600;
}

#recursos h3{
  font-size: 1rem;
  color: #888;
}
/* 
#recursos .wrapper{
  display: flex; 
  padding-top: 3rem;
  align-items: center;
} */

#recursos li i{
  padding:10px;
  padding-bottom: 10px;
  align-items: flex-start;
}

#recursos ul{
  list-style: none;
}
/* #recursos .wrapper .content{
  background-color: green;
 
} */

/* PLANOS---------------------------------------------- */

#planos{
  /* height: 500px; */
 
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;


  /* height: auto; */

}

#planos .cards{
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  margin: 2rem;
 

  display: flex;
  justify-content: center;
  align-items: center;
}

.card1,  .card2, .card3 {
  
  width: auto;
  background: linear-gradient(to bottom,  #003a7b, #a8a8a8);
  
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem;
  
}

#planos h2{
  color: #fff;
  text-align: center;
}

#planos h3 {
  /* display: flex; */
  justify-items: center;
  /* text-align: center;   */
  /* background-color:  #003a7b; */
  /* background-color: #333; */
  color:#000 ;
  
  /* font-size: 24px; */
  /* margin: 1rem; */
  padding-bottom: 2rem;
}

#planos h5 {
  padding-bottom: 2rem;
  font-weight: 600;
}

#planos p{
  color:hsl(0, 0%, 40%);
}

.cards p{
  align-items: center;
  text-align: center;
  font-size: 32px;
}

.card table{
  width: 100%;
}

.card table td{
  padding: 8px;
}



/* CONTATE-NOS---------------------------------------------- */


#contatenos{
  /* height: 500px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

#contatenos h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  
}

#contatenos h2 {
  color: #003a7b;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 10px;
}

#contatenos h3 {
  font-size: 1rem;
  text-align: center;
  padding-bottom: 1rem;
  color: #888;
}




/* Estilos das seções */
section {
  /* height: 5px; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* background-color: #fff; */
  margin-bottom: 3rem;
  
}


/* FOOTER---------------------------------------------- */


footer{
  background-color: #333;
  font-size: 20px;
 }

footer .logo img{
  margin: 1rem;
  display: flex;
  width: 100px;
  align-items: flex-start;
}

footer .registered_copy {
display: flex;
justify-content: flex-end;
align-items: center;
color: #fff;
padding: 1rem;
background-color:#333;
  
}












@media (max-width: 576px) {

  body{
    /* font-size: 14px; */
    background-color: red;
  }


  #home h2{
    font-size: 2em;
  }
  
  #home h3{
    font-size: 1rem;
  }
}