/* Paleta de cor */
:root{
  /* bg-dark */
  --bs-dark-rgb: 33,37,41;
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Estilos gerais */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1{
  padding-top: 20px;
  font-size: 18px;
  margin-bottom: 10px;
}

span{
  color: #003a7b;
}

/* BOOTSTRAP CUSTOMIZAÇÃO------------------------------------------ */

.nav-link:hover {
  color: #0077ff;
}

.btn-primary{
  font-size: 16px;
  margin: 20px;
}

.btn-outline-primary{
  font-size: 16px;
  margin-left: 0.5rem;
}

.wrapper {
  max-width: 1200px;
  margin:  auto;
  padding: 20px;
}

/* Estilos do menu de navegação */
.navigation {
  background-color: #333;
  color: #fff;
  padding: 0%;
}

.navigation .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.navigation .logo img {
  width: 5rem;
  margin: 2rem;
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 5px;
}

.navbar{
height: 6rem; 
}

.clientes{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #2c5e98;
  flex-wrap: wrap;
}

.clientes .image-gallery__image {
  width: 150px; /* Defina o tamanho desejado para as imagens */
  height: auto; /* Mantém a proporção da imagem */
  padding: 10px;
}

/* HOME---------------------------------------------- */

/* Estilos do conteúdo */
#home{
   display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

#home .wrapper{
  display: flex;
  padding-top: 3rem;
  align-items: center;
}

#home .col-a{
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: 1rem;
}

#home .col-b {
  display: flex;
  max-width: 100%;
}

#home .col-b img{
max-width: 100%;
max-height:100%;
border-radius: 10px;
}

#home h2 {
  font-size: 48px;
  margin-bottom: 2rem;
}

#home h3 {
  /* display: flex; */
  font-size: 2rem;
  color: #888;
  margin-bottom: 2rem;
}

#home h4 {
  /* display: flex; */
  font-size: 1.1rem;
  color: rgb(100, 100, 100);
  margin-bottom: 1rem;
}

/* funcionalidades---------------------------------------------- */

#funcionalidades{
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

#funcionalidades .section{
  display: flex;
  align-items: center;
  padding: 20px;
}

 #funcionalidades .section i{
  font-size: 54px;
  padding: 20px;
}

#funcionalidades h5 {
  color:  #003a7b;
  font-weight: 600;
}

#funcionalidades h3{
  font-size: 1rem;
  color: #888;
}

#funcionalidades li i{
  padding:10px;
  padding-bottom: 10px;
  align-items: flex-start;
}

#funcionalidades ul{
  list-style: none;
}

#funcionalidades img{
  width: 250px;
  padding: 20px 20px 10px 20px;
  border-radius: 10px;
}

#funcionalidades .col-b  {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: #2c5e98;
  flex-wrap: wrap;
  align-items: center;
}

#funcionalidades .col-a{
  display: flex;
  flex-direction: column;
   padding-right: 1rem;
   padding-left: 1rem;
   margin-right: 1rem;
   margin-top: 2rem;
 }
 
#funcionalidades p{
  color: #fff;
  text-align: center;
}

/* PLANOS---------------------------------------------- */

#planos{
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2; 
}

#planos .section{
  display: flex;
 }

#planos .section i{
  font-size: 54px;
  padding: 20px;
}


#planos .cards{
  display: flex;
  width: 100vw ;
  padding: 2rem;
  margin: 0,5rem;  
  flex-wrap: wrap;
  align-items: flex-end;
  justify-items: flex-end;
}

.card1,  .card2, .card3 {
  display: flex;
  flex-direction: column;
  width: auto;
  background-color:  rgb(0, 58, 123);
  
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem;
  align-items: center;
  justify-items: center;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.7);
}


#planos h2{
  color: #fff;
  text-align: center;
}

#planos h3 {
  text-align: center;  
  color:hsl(0, 0%, 60%);
  padding-bottom: 1rem;
}

#planos h5 {
  color:  #003a7b;
  font-weight: 600;
}

#planos td{
  color: #fff;

}

#planos td i{
  font-size: 20px;
}

#planos p{
  color:hsl(0, 0%, 40%);
}


.cards i{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 56px;
  padding-bottom: 10px;
}

.cards p{
  align-items: center;
  text-align: center;
  font-size: 32px;
}

.card table{
  width: 100%;
}


.card table td{
  padding: 8px;
 } 

#planos .check-green{
  display: flex;
  color: #48bb78;
  font-size: 20px;
  justify-content: center;
}

/* CONTATE-NOS---------------------------------------------- */

#contatenos{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

#contatenos .section{
  display: flex;
  align-items: center;
  justify-content: center;
 }

#contatenos .section i{
  font-size: 54px;
  padding: 20px;
}

#contatenos h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

#contatenos h2 {
  color: #003a7b;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 10px;
}

#contatenos h3 {
  font-size: 1rem;
  text-align: center;
  padding-bottom: 1rem;
  color: #888;
}

/* FOOTER---------------------------------------------- */

footer{
  background-color: #333;
  font-size: 16px;
 }

footer .logo img{
  display: flex;
  width: 100px;
  align-items: flex-start;
  width: 5rem;
  margin: 0.5rem;
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 5px;
}

footer .registered_copy {
display: flex;
justify-content: flex-end;
align-items: center;
color: #fff;
padding: 1rem;
background-color:#333;

}

footer .back-to-top {
  position: fixed;
  bottom: 100px;
  right: 30px;
  color: #fff;
  background-color:rgb(0, 58, 123);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  z-index: 999;
}

.back-to-top i {
  font-size: 24px;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
}

.social-icon {
  margin-right: 10px;
  font-size: 30px;
  color:#fff;
}

footer h6{
  padding: none;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  color: #fff;
}

.whatsapp-icon {
  position: fixed;
  bottom: 150px;
  right: 30px;
  background-color: #25D366;
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  z-index: 999;
  font-size: 24px;
}

.whatsapp-icon:hover {
  animation: shake3856 0.3s linear infinite both;
 }

 @keyframes shake3856 {
  0% {
   -webkit-transform: translate(0);
   transform: translate(0);
  }
 
  20% {
   -webkit-transform: translate(-2px, 2px);
   transform: translate(-2px, 2px);
  }
 
  40% {
   -webkit-transform: translate(-2px, -2px);
   transform: translate(-2px, -2px);
  }
 
  60% {
   -webkit-transform: translate(2px, 2px);
   transform: translate(2px, 2px);
  }
 
  80% {
   -webkit-transform: translate(2px, -2px);
   transform: translate(2px, -2px);
  }
 
  100% {
   -webkit-transform: translate(0);
   transform: translate(0);
  }
 }

 /* correções de resposividade */
@media (min-width: 411px) {

  body{
    width: 100%;
  }

  .navbar{
    height: 7rem; 
    }
    
  .navigation .logo img {
    width: 3rem;
    background-color: #f2f2f2;
    border-radius: 0.5rem;
  }
  #home h2{
    font-size: 2em;
  }
  
  #home h3{
    font-size: 1rem;
  }

  #planos .cards{
    display: flex;
    padding: 2rem;
    margin: 0,5rem;  
    flex-wrap: wrap;
    
    align-items: centrer;
    justify-items: center;
  }

  footer .navigation{
    display: inline;
    position: relative;
    top: -4rem;
    left: 1rem;
    padding: 20px;
    z-index: 1;
  }

  footer .btn-primary{
    font-size: 16px;
    margin: 0px 40px;
  }
}